<div class="container">
  <h1>User List</h1>
  <table class="table table-bordered">
    <tr>
      <th>UserName</th>
      <th>Email</th>
      <th>Mobile No</th>
      <th>Address</th>
      <th>Date Of Birth</th>
      <th>Salary</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let user of userList">
      <td>{{ user.userName | titlecase }}</td>
      <td>{{ user.email | uppercase }}</td>
      <td >
        {{ user.mobileNo }}
      </td>
      <td appMyhighlight>{{ user.address }}</td>
      <td>{{ user.dateOfBirth | date: "MM/dd/yyyy" }}</td>
      <td>{{ user.salary | currency: "INR":true }}</td>
      <td><a [href]="getUrl(user.id)">Edit</a></td>
      <td><a [href]="user.id">Delete</a></td>
    </tr>
  </table>
</div>
